/*Typical Device Breakpoint
----------------------------
Telas pequenas: ate 600px
Celular:de 600px ate 750px
Tablet: 768px ate 993px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width:767px){
    .menuLateral{
        width:50px;
    }
    .item-menu .icone{
        font-size: 22px;
    }
    .item-menu .txt-link{
        
        font-size: 19px;
    }
    .item-menu a{
        padding:5px 2%;
    }
    .titlesGrupos h2{
        margin:15px 0;
        left:50%;
        top:0;
        transform: translateX(-50%);
    }
    .grupos{
        grid-template-columns: repeat(1,1fr);
    }
}