/*         Sobre            */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
#pageSobre{
    background: #fff;
    height: 100vh;
}
.Sobre{
    background-color: #0050b8;
    box-shadow: 5px 5px 3px #0230595d;
    border-radius:0 0 10px 10px ;
    height: auto;
    margin-bottom: 30px;
    overflow: auto;
}

.titlesSobre h1{
    font-size: 40px;
    text-align: left;
    color: #ffffff;
}

.img img{
    display: block;
    width: 15%;
    margin: auto;
}

.titlesSobre{
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    text-shadow: 5px 5px 3px var(--cor-5);
}

#TextSobre p{
    font-size: 1.2em;
    width: 80%;
    margin:auto;
    text-align: justify;
    color: #002b64;
}

.menuS {
    color: #fff;
    font-size: 1.3em;
}

.menuS nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.menuS h1 {
    font-size: 1.3em;

}

.menuS ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menuS ul> li {
    display: inline;
    font-weight: bold;
}
.menuS .item-menus a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.menuS .item-menus i{
    color: #fff;
    padding-left:10px;
    transition: .3s ;
}
.menuS .item-menus a:hover{
    border-radius: 5px;
    background:var(--cor-5);
    transition: .3s;
}