@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #ffffff;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.menuLateral{
    width: 80px;
    height: 100%;
    padding:30px 0 30px 1%;
    background-color: var(--cor-4);
    box-shadow: 5px 0 0 var(--cor-1);
    position:fixed;
    top:0;
    left:0;
    transition: .5s;
    z-index: 1;
}

.menuLateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left:10px
}
.btn-expandir i{
    color:#fff;
    font-size: 26px;
    cursor:pointer;
}
.menulateral ul{
    height: 100%;
}
.menuLateral .item-menu{
    margin-top: 10px;
    list-style:none;
    
}
.item-menu a{
    display:flex;
    left:0;
    color:#ffffff;
    font-size: 16px;
    padding:10px 4%;
    text-decoration: none;
    overflow: hidden;

}

.item-menu a:hover{
    border-radius: 5px;
    margin-right: 5px;
    background:#fff;
    color:var(--cor-4);
    transition: .35s;
}
.item-menu .icone{
    font-size: 26px;
    margin:15px 0px;
    padding-left:10px;
}
.item-menu .txt-link{
    margin-left: 77px;
    font-size: 20px;
    transition: .18s;
    opacity: 0;
    transform: translateY(18px);
}
.menuLateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}
.conta{
    background-image: linear-gradient(to top,#fff, #fff);
    overflow: auto;
    height:150vh;
}
.title-conta h2{
    display:flex;
    font-size: 2em;
    left:8%;
    top:2%;
    color:var(--cor-4);
    position:absolute;
}
.titulo-dados-basicos{
    display:flex;
    position:absolute;
    top:12%;
    left:8%;
    color:var(--cor-4);
    font-style: italic;
}
.imagem-perfil{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding:5px;
    margin-right:200px;
    margin-top: 5px;
    right: 0;
    top:0;
    width: 150px;
    height: 135px;
    border:2px solid var(--cor-4);
    border-radius: 10px;
    box-shadow:0px 5px 5px var(--cor-5) ;
}
.imagem-perfil img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.dados-basicos{
    display: flex;
    align-items: center;
    position:absolute;
    width: 80%;
    height: auto;
    top:19%;
    left:50%;
    bottom: 50px;
    background: transparent;
    border: 2px solid var(--cor-2);
    border-radius:10px;
    padding:15px;
    box-shadow:0px 5px 5px var(--cor-5) ;
    transform: translateX(-50%);
}

.componentes-basicos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px; 
    width: 99%;
}

.informacao{
    position: relative;
    width: 100%;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px 20px ;
    
}

.informacao label{
    color:var(--cor-4);
    font-weight: bold;
    font-size:18px;
}
.informacao input{
    width: 100%;
    height:auto;
    padding:10px;
    padding-left:10px; 
    color:var(--cor-3);
    border:1px solid var(--cor-1);
    font-weight: lighter;
    font-size:16px;
    border-radius:10px;
}
.dado-texto{
    width: 100%;
    height:auto;
    padding:10px;
    padding-left:10px; 
    color:var(--cor-3);
    border:1px solid var(--cor-1);
    font-weight: lighter;
    font-size:16px;
    border-radius:10px;
}
.btt-alterar{
    display:flex;
    width: 350px;
    position: absolute;
    bottom:0;
    right:0;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 30px;
}
#alterar{
    text-decoration: none;
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    height: 45px;
    position: relative;
}
#alterar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    cursor:pointer;
}

.dados-basicos .componentes-basicos {
    transition: all 0.3s ease;
}

.dados-basicos.editando .componentes-basicos {
    opacity: 0.8; 
}

.dados-basicos.editando .dado-texto {
    display: none; 
}
