/*    POS AUTENTICACAO   */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.posAutenticacao{
    position:absolute;
    top:50%;
    left:50%;
    background-color: #fff;
    width: 60%;
    height: auto;
    border-radius:20px;
    padding:30px;
    overflow: hidden;
    color:#000000;
    transform: translate(-50%,-50%);
}
.aluno img{
    position:relative;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius:100%;
    background-color: black;
    box-shadow: 0px 0px 5px var(--cor-4);
}
.professor img{
    position:relative;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius:100%;
    background-color: black;
    box-shadow: 0px 0px 5px var(--cor-4);
}
#mudarFotoP{
    display: none;
}
#mudarFotoLabelP{
    border-radius: 5px;
    width: 160px;
    height: 35px;
    font-size: 16px;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    margin-top: 10px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    background-color: var(--cor-4);
    text-decoration: none;
    color: #fff;
}
#mudarFotoLabelP:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    cursor:pointer;
}
#mudarFotoA{
    display: none;
}
#mudarFotoLabelA{
    border-radius: 5px;
    width: 160px;
    height: 35px;
    font-size: 16px;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    margin-top: 10px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    background-color: var(--cor-4);
    text-decoration: none;
    color: #fff;
}
#mudarFotoLabelA:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    cursor:pointer;
}
.aluno, .professor a:hover {
	text-decoration: none;
}
.aluno p {
    color:var(--cor-5);
    padding:10px;
    font-weight: 500;
    font-size: 14px;
}

.professor{
    display: block;
    text-align: center;
}
.professor h4{
    margin-bottom: 20px;
}
.aluno{
    display: block;
    text-align: center;
}
.aluno h2{
    color:var(--cor-5);
    margin-bottom: 20px;
}
.form-dados{
    background-color: transparent;
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
    width: 80%;
    height: auto;
    border-radius:5px;
    margin-bottom: 5px;
}
.form-style {
    padding:10px;
    padding-left:30px;
    width: 45%;
    height: auto;
    font-weight: 500;
    letter-spacing: 0.5px;
    color:var(--cor-5);
    border:1px solid var(--cor-5);
    border-radius:10px;
    margin-bottom: 10px; 
}
#generoP{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#generoP:focus{
    border: 1px solid var(--cor-5);
    cursor:pointer;
}
.form-style:focus,
.form-style:active {
    border:1px solid var(--cor-5);
    outline: none;
}
.icones-input {
    position: absolute;
    left:25px;
    bottom:8px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: left;
    color:var(--cor-4);
    transform: translateX(100%);
}
.icones-input2, .custom-date-icon {
    position: absolute;
    right:40px;
    bottom:8px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color:var(--cor-4);
    pointer-events: none;
    transform: translateX(-46%);
}

.btn{
    border-radius: 4px;
    border:none;
    height: 44px;
    font-size: 16px;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: var(--cor-4);
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    cursor:pointer;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color:transparent;
    background-color: transparent;
}


input[type="date"]::-moz-calendar-picker-indicator {
    color:transparent;
    background-color: transparent;
}


input[type="date"]::-o-calendar-picker-indicator {
    color:transparent;
    background-color: transparent;
}


