/* CADASTRO */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.cadastro{
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: auto;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: left;
    font-size: 0.9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titles{
    margin-bottom: 20px;
}
.cadastro h1{
    color:var(--cor-5);
}
.cadastro h3{
    color:var(--cor-3);
}
.cadastro a{
    text-decoration: none;
    font-weight: bolder;
    color:var(--cor-4);
}
.cadastro a:hover{
    text-decoration: underline;
    color:var(--cor-5);
}
.componentesCads input {
    border: 2px solid transparent;
    background-color: #b7daf800;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 39px);
    transition: border-color 0.3s;
    outline: none;
}

.componentesCads input:focus {
    border-color: #02305900; 
    color:var(--cor-5);
}

.componentesCads i {
    color: var(--cor-1);
    padding: 10px;
    font-size: 16px;
}
.componentesCads #eyes{
    position: absolute;
    color: var(--cor-1);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
.componentesCads #eyes2{
    position: absolute;
    color: var(--cor-1);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.componentesCads {
    display:flex;
    flex-direction: row;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-end; /* Alinha o conteúdo no final do container */
    background-color: #fff;
    width: 350px;
    margin-left: 5%;
    margin-top: 5px;
    border-style: groove;
    border:1px solid var(--cor-3);
    border-radius: 5px;
}
.cadastro label{
    color: var(--cor-2);
    margin-top: 10px;
}
.env{
    display: flex; 
    flex-direction:row-reverse; 
    text-align: center;
    margin-right: 50%;
    padding-top: 50px;
}
.env #Enviar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 3px;
    margin-left: 10%;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 1.1em;
    width: 83%;
    height: 45px;


}
.env #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    cursor:pointer;
}
.env #Voltar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 3px;
    margin-left: 1%;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
    width: 83%;
    height: 45px;
}
.env #Voltar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    text-decoration: none;
    cursor:pointer;
}

.cadastro2{
    background-color:var(--cor-3);
    display: flex; /* Torna o container flexível */
    flex-direction:column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-end; /* Alinha o conteúdo no final do container */
    width: 400px;
    height: 100%;
    margin: auto;
    padding:20px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(15%, -50%);
}
.cadastro2 img{
    width: 80%;
}
.cadastro2 h1 {
    color: #fff;
    margin: 10px;
    text-shadow: 5px 5px 3px #0230595d;
}

.cadastro2 p span a{
    margin:10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 5px 5px 3px #0230595d;
}
.cadastro2 p span a:hover{
    color:var(--cor-5);
    text-decoration: underline;
}