@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #fff;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.menuLateral{
    width: 80px;
    height: 100%;
    padding:30px 0 30px 1%;
    background-color: var(--cor-4);
    box-shadow: 5px 0 0 var(--cor-1);
    position:fixed;
    top:0;
    left:0;
    transition: .5s;
    z-index: 1;
}

.menuLateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left:10px
}
.btn-expandir i{
    color:#fff;
    font-size: 26px;
    cursor:pointer;
}
.menulateral ul{
    height: 100%;
}
.menuLateral .item-menu{
    margin-top: 10px;
    list-style:none;
    
}
.item-menu a{
    display:flex;
    left:0;
    color:#ffffff;
    font-size: 16px;
    padding:10px 4%;
    text-decoration: none;
    overflow: hidden;

}

.item-menu a:hover{
    border-radius: 5px;
    margin-right: 5px;
    background:#fff;
    color:var(--cor-4);
    transition: .35s;
}
.item-menu .icone{
    font-size: 26px;
    margin:15px 0px;
    padding-left:10px;
}
.item-menu .txt-link{
    margin-left: 77px;
    font-size: 20px;
    transition: .18s;
    opacity: 0;
    transform: translateY(18px);
}
.menuLateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

.titulo-grupo {
    display:flex;
    top:2%;
    left:8%;
    flex-direction: column;
    position:absolute;
}
.bttConvidar{
    display: flex;
    top:3%;
    right: 3%;
    position:fixed;
}
#convidarAluno{
    padding: 10px;
    border-style:none;
    border-radius:5px;
    font-size: 1em;
    background-color: var(--cor-4);
    text-align: center;
    color:#fff;
    cursor:pointer;
}
#convidarAluno:hover{
    background-color: var(--cor-5);
    transition: .3s;
}
#addAluno{
    background-color: var(--cor-4);
    border-style: none;
    border-radius: 5px;
    width: 100px;
    color:#fff;
    padding: 5px;
    cursor:pointer;
    transition: .3s;
}
#addAluno:hover{
    background-color: var(--cor-5);
}
.container-tabela-aluno{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
    flex-direction: column;
    
}
#tabelaAlunos {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px var(--cor-5);
    
}
.linha{
    background-color: red;
}
.celula-tabela {
    padding: 15px;
    background-color: var(--cor-4);
    color:#fff;
    border:2px outset var(--cor-1);
    text-align: center;
    font-size: 16px;
}

.alunos-tabela td{
    border:1px outset var(--cor-4);
    text-align: center;
    padding: 15px;
}
.alunoAcesso{
    overflow-wrap:break-word;
    transition: .3s ease-in-out;
}
.alunoAcesso a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
}
.alunoAcesso:hover{
    color:#fff;
    background-color: var(--cor-1);
}
.btnExcluir{
    background-color: transparent;
    color:var(--cor-4);
    border-style:none;
    font-size: 1.2em;
    cursor:pointer;
}
.btnExcluir:hover{
    color:var(--cor-5);
}
#paginacao {
    margin-top: 30px;
    text-align: center;
}
#paginaAtual{
    font-weight:bolder;
    margin:0px 30px;
}
#paginacao button {
    padding: 10px;
    border-style:none;
    border-radius:5px;
    font-size: 1em;
    background-color: var(--cor-4);
    text-align: center;
    color:#fff;
    cursor:pointer;
    
}
#paginacao button:hover {
    background-color: var(--cor-5);
    transition: .3s;
}
#paginacao button:disabled{
    background-color: var(--cor-5);
    color:gray;
}
