/* CRÉDITOS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.pageCreditos{
    background-color: #fff;
    height: 100vh;
}
.Creditos {
    background-color: var(--cor-4);
    font-size: 1.3em;
}

.menuC nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.menuC h1 {
    color:#ffffff;
    font-size: 1.3em;
}

.menuC ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menuC ul> li {
    display: inline;
    font-weight: bold;
}
.menuC .item-menuC a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.menuC .item-menuC i{
    color: #fff;
    padding-left:10px;
    transition: .3s ;
}
.menuC .item-menuC a:hover{
    border-radius: 5px;
    background:var(--cor-5);
    transition: .3s;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linha::after{
    content: "";
    display: table;
    clear: both;
}

.coluna{
    float: left;
    width: 15%;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}
.coluna img{
    max-width: 150px;
}
.coluna:hover{
    cursor:pointer;
    transform:scale(1.1);
    transition:.3s ease-in-out;
}

#creditos div > h1 {
    background-color:var(--cor-4);
    color:#ffffff;
    font-size: 1.3em;
    text-align: center;
    border-radius: 5px;
    text-shadow: 2px 2px 5px var(--cor-5);
    margin: 10px auto;
    width: 90%;
    padding: 5px;
}

#creditos div > h2 {
    color:var(--cor-4);
    font-size: 1em;
}

#imgCredito img{
    display: flex;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%);
    margin: 30px 0;
    max-width: 600px;
    padding: 5px;
    
}

#creditos i{
    padding:5px;
    font-size: 1em;
    width: 10px;
    transform: translateY(3px);
}