@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.menu {
    color: #fff;
    font-size: 1.3em;
}

.menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu h1 {
    font-size: 1.3em;
}

.menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu ul> li {
    display: inline;
    font-weight: bold;
}
.item-menuf a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.item-menuf i{
    color: #fff;
    padding-left:10px;
    transition: .3s ;
}
.item-menuf a:hover{
    border-radius: 5px;
    background:var(--cor-5);
    transition: .3s;
}



.contato{
    display:flex;
    position:absolute;
    text-align: left;
    flex-direction: column;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 500px;
    height:500px;
    border-radius:10px;
    padding:30px;
    box-shadow: 5px 5px 3px #0230595d;
}
.titlespage{
    display:flex;
    position:absolute;
    text-align: left;
    flex-direction: column;
    top:30%;
    left:30%;
    transform: translate(-50%,-50%);
    font-size: 1.2em;
    text-shadow:5px 5px 3px #0230595d;
    color:#fff;
}
.contato label{
    margin-right:90px;
}
.componentesCTT{
    display:absolute;
    padding:10px;
    margin-right:4px;

}
.componentesCTT input{
    padding:5px;
    border-radius: 5px;
    border:1px solid var(--cor-5);
    text-align: left;
    width: calc(100% - 220px);
    padding:10px;
    outline:none;
    margin-right:10px;
    
}
.componentesCTT textarea{
    border:1px solid var(--cor-5);
    border-radius: 5px;
    padding:10px;
    color:var(--cor-5);
    outline:none;
}
.envCTT #Enviar{
    display:block;
    margin-left: auto;
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    font-size: 1.1em;
    width: 200px;
    height: 45px;

}
.envCTT #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    cursor:pointer;
}