@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.login1{
    background-color: rgb(255, 255, 255);
    display: flexbox;
    width: 800px;
    height: 450px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titles{
    margin-bottom: 20px;
}
.login1 h1{
    color:var(--cor-5);
}
.login1 h3{
    color:var(--cor-3);
}
.login1 a{
    text-decoration: none;
    font-weight: bolder;
    color:var(--cor-4);
}
.login1 a:hover{
    text-decoration: underline;
    color:var(--cor-5);
}
.componentes input {
    position:relative;
    border: 2px solid transparent;
    background-color: #b7daf800;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 75px);
    outline: none;
    transition: border-color 0.3s;
    
}

.componentes input:focus{
    border-color: #02305900;
    color:var(--cor-5);
}


.componentes i {
    color: var(--cor-1);
    padding: 10px;
    font-size: 16px;
}
.componentes #eyes{
    position: absolute;
    color: var(--cor-1);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.componentes {
    background-color: #fff;
    width: 300px;
    margin-left: 5%;
    margin-top: 5px;
    border-style: groove;
    border:1px solid var(--cor-3);
    border-radius: 5px;
}
.login1 label{
    color: var(--cor-2);
    margin-top: 10px;
}
.esq-env{
    display:flexbox;
    text-align: center;
    margin-right: 50%;
    padding-top: 30px;
}
.esq-env #Enviar{
    display: flexbox;
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 30px;
    margin-left: 1%;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 1.1em;
    width: 83%;
    height: 45px;

}
.esq-env #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    cursor:pointer;
}
.esq-env #esq_senha{
    display: flexbox;
    color:var(--cor-3);
    font-size: 0.9em;
}
.login2{
    background-color:var(--cor-3);
    display: flex; /* Torna o container flexível */
    flex-direction:column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-end; /* Alinha o conteúdo no final do container */
    width: 400px;
    height: 450px;
    margin: auto;
    padding:20px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 3px #0230595d;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}
.login2 img{
    width: 80%;
}
.login2 h1 {
    color: #fff;
    margin: 10px;
    text-shadow: 5px 5px 3px #0230595d;
}

.login2 p span a{
    margin:10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 5px 5px 3px #0230595d;
}
.login2 p span a:hover{
    color:var(--cor-5);
    text-decoration: underline;
}



/* CADASTRO */




.cadastro{
    background-color: rgb(255, 255, 255);
    display: flexbox;
    width: 900px;
    height: auto;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: left;
    font-size: 0.9em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titles{
    margin-bottom: 20px;
}
.cadastro h1{
    color:var(--cor-5);
}
.cadastro h3{
    color:var(--cor-3);
}
.cadastro a{
    text-decoration: none;
    font-weight: bolder;
    color:var(--cor-4);
}
.cadastro a:hover{
    text-decoration: underline;
    color:var(--cor-5);
}
.componentesCads input {
    border: 2px solid transparent;
    background-color: #b7daf800;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 39px);
    transition: border-color 0.3s;
    outline: none;
}

.componentesCads input:focus {
    border-color: #02305900; 
    color:var(--cor-5);
}

.componentesCads i {
    color: var(--cor-1);
    padding: 10px;
    font-size: 16px;
}
.componentesCads #eyes{
    position: absolute;
    color: var(--cor-1);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
.componentesCads #eyes2{
    position: absolute;
    color: var(--cor-1);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.componentesCads {
    display:flex;
    flex-direction: row;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-end; /* Alinha o conteúdo no final do container */
    background-color: #fff;
    width: 350px;
    margin-left: 5%;
    margin-top: 5px;
    border-style: groove;
    border:1px solid var(--cor-3);
    border-radius: 5px;
}
.cadastro label{
    color: var(--cor-2);
    margin-top: 10px;
}
.env{
    display: flex; /* Torna o container flexível */
    flex-direction:row-reverse; /* Empilha os elementos verticalmente */ /* Centraliza o conteúdo horizontalmente */
    text-align: center;
    margin-right: 50%;
    padding-top: 50px;
}
.env #Enviar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 3px;
    margin-left: 10%;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 1.1em;
    width: 83%;
    height: 45px;


}
.env #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    cursor:pointer;
}
.env #Voltar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 3px;
    margin-left: 1%;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
    width: 83%;
    height: 45px;
}
.env #Voltar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    text-decoration: none;
    cursor:pointer;
}

.cadastro2{
    background-color:var(--cor-3);
    display: flex; /* Torna o container flexível */
    flex-direction:column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-end; /* Alinha o conteúdo no final do container */
    width: 400px;
    height: 100%;
    margin: auto;
    padding:20px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(15%, -50%);
}
.cadastro2 img{
    width: 80%;
}
.cadastro2 h1 {
    color: #fff;
    margin: 10px;
    text-shadow: 5px 5px 3px #0230595d;
}

.cadastro2 p span a{
    margin:10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 5px 5px 3px #0230595d;
}
.cadastro2 p span a:hover{
    color:var(--cor-5);
    text-decoration: underline;
}

/*  ESQUECER SENHA   */
.esq-senha{
    background-color: rgb(255, 255, 255);
    display: flexbox;
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titles{
    margin-bottom: 20px;
    color:var(--cor-5);
    
}
.componentesESQ input {
    border: 2px solid transparent;
    background-color: #b7daf800;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 39px);
    transition: border-color 0.3s;
    outline: none;
}

.componentesESQ input:focus{
    border-color: #02305900;
    color:var(--cor-5);
}


.componentesESQ i {
    color: var(--cor-1);
    padding: 10px;
}


.componentesESQ {
    background-color: #fff;
    width: 300px;
    margin:auto;
    border-style: groove;
    border:1px solid var(--cor-3);
    border-radius: 5px;
}
.bttsESQ{
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin:auto;
    width: 300px;
    padding-top: 30px;
}
.bttsESQ #Enviar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin: 10px 0;
    margin-left: 1%;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    font-size: 1.1em;
    width: 83%;
    height: 45px;

}
.bttsESQ #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    cursor:pointer;
}
.bttsESQ #Voltar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 3px;
    margin-left: 1%;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
    text-decoration: none;
    width: 83%;
    height: 45px;
}
.bttsESQ #Voltar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    text-decoration: none;
    cursor:pointer;
}

/*  Contatos  */

.menu {
    color: #fff;
    font-size: 1.3em;
}

.menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu h1 {
    font-size: 1.3em;
}

.menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu ul> li {
    display: inline;
    font-weight: bold;
}
.item-menuf a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.item-menuf i{
    color: #fff;
    padding-left:10px;
    transition: .3s ;
}
.item-menuf a:hover{
    border-radius: 5px;
    background:var(--cor-5);
    transition: .3s;
}



.contato{
    display:flex;
    position:absolute;
    text-align: left;
    flex-direction: column;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 500px;
    height:500px;
    border-radius:10px;
    padding:30px;
    box-shadow: 5px 5px 3px #0230595d;
}
.titlespage{
    display:flex;
    position:absolute;
    text-align: left;
    flex-direction: column;
    top:30%;
    left:30%;
    transform: translate(-50%,-50%);
    font-size: 1.2em;
    text-shadow:5px 5px 3px #0230595d;
    color:#fff;
}
.contato label{
    margin-right:90px;
}
.componentesCTT{
    display:absolute;
    padding:10px;
    margin-right:4px;

}
.componentesCTT input{
    padding:5px;
    border-radius: 5px;
    border:1px solid var(--cor-5);
    text-align: left;
    width: calc(100% - 220px);
    padding:10px;
    outline:none;
    margin-right:10px;
    
}
.componentesCTT textarea{
    border:1px solid var(--cor-5);
    border-radius: 5px;
    padding:10px;
    color:var(--cor-5);
    outline:none;
}
.envCTT #Enviar{
    display:block;
    margin-left: auto;
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    font-size: 1.1em;
    width: 200px;
    height: 45px;

}
.envCTT #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    cursor:pointer;
}
/*         Sobre            */
#pageSobre{
    background: #fff;
    height: 100vh;
}
.Sobre{
    background-color: #0050b8;
    box-shadow: 5px 5px 3px #0230595d;
    border-radius:0 0 10px 10px ;
    height: auto;
    margin-bottom: 30px;
    overflow: auto;
}

.titlesSobre h1{
    font-size: 40px;
    text-align: left;
    color: #ffffff;
}

.img img{
    display: block;
    width: 15%;
    margin: auto;
}

.titlesSobre{
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    text-shadow: 5px 5px 3px var(--cor-5);
}

#TextSobre p{
    font-size: 1.2em;
    width: 80%;
    margin:auto;
    text-align: justify;
    color: #002b64;
}

.menuS {
    color: #fff;
    font-size: 1.3em;
}

.menuS nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.menuS h1 {
    font-size: 1.3em;

}

.menuS ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menuS ul> li {
    display: inline;
    font-weight: bold;
}
.menuS .item-menus a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.menuS .item-menus i{
    color: #fff;
    padding-left:10px;
    transition: .3s ;
}
.menuS .item-menus a:hover{
    border-radius: 5px;
    background:var(--cor-5);
    transition: .3s;
}

/* CRÉDITOS */
.pageCreditos{
    background-color: #fff;
    height: 100vh;
}
.Creditos {
    background-color: var(--cor-4);
    font-size: 1.3em;
}

.menuC nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.menuC h1 {
    color:#ffffff;
    font-size: 1.3em;
}

.menuC ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menuC ul> li {
    display: inline;
    font-weight: bold;
}
.menuC .item-menuC a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.menuC .item-menuC i{
    color: #fff;
    padding-left:10px;
    transition: .3s ;
}
.menuC .item-menuC a:hover{
    border-radius: 5px;
    background:var(--cor-5);
    transition: .3s;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linha::after{
    content: "";
    display: table;
    clear: both;
}

.coluna{
    float: left;
    width: 15%;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}
.coluna img{
    max-width: 150px;
}

#creditos div > h1 {
    background-color:var(--cor-4);
    color:#ffffff;
    font-size: 1.3em;
    text-align: center;
    border-radius: 5px;
    text-shadow: 2px 2px 5px var(--cor-5);
    margin: 10px auto;
    width: 90%;
    padding: 5px;
}

#creditos div > h2 {
    color:var(--cor-4);
    font-size: 1em;
}

#imgCredito img{
    display: flex;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%);
    margin: 30px 0;
    max-width: 600px;
    padding: 5px;
    
}

#creditos i{
    padding:5px;
    font-size: 1em;
    width: 10px;
    transform: translateY(3px);
}

/* GRUPOS DOS PROFESSORES*/
.Grupo{
    height: 100vh;
    background-color: #fff;
}
.menuLateral{
    width: 80px;
    height: 100%;
    padding:30px 0 30px 1%;
    background-color: var(--cor-4);
    box-shadow: 5px 0 0 var(--cor-1);
    position:fixed;
    top:0;
    left:0;
    transition: .2s;
    z-index: 1;
}
.menuLateral:hover{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left:10px
}
.btn-expandir i{
    color:#fff;
    font-size: 26px;
    cursor:pointer;
}
.menulateral ul{
    height: 100%;
}
.menuLateral .item-menu{
    margin-top: 10px;
    list-style:none;
    
}
.item-menu a{
    display:flex;
    left:0;
    color:#ffffff;
    font-size: 16px;
    padding:10px 4%;
    text-decoration: none;
    overflow: hidden;

}

.item-menu a:hover{
    border-radius: 5px;
    margin-right: 5px;
    background:#fff;
    color:var(--cor-4);
    transition: .35s;
}
.item-menu .icone{
    font-size: 26px;
    margin:15px 0px;
    padding-left:10px;
}
.item-menu .txt-link{
    margin-left: 40px;
    font-size: 20px;
    transform: translateY(18px);
}
.grupos-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.grupo {
    display:flex;
    left:10%;
    top:15%;
    position:fixed;
    align-items: left;
    justify-content: space-between;
    flex-direction: row;
    width: 20%;
    height: 15%;
    padding:15px;
    border-radius:10px;
    background-color: var(--cor-4);
}
.grupo h2 a{
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 5px var(--cor-5);
}
.grupo h2 a:hover{
    text-decoration: underline;
    color: var(--cor-5);
}
.grupo input{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.grupo p{
    font-size:0.8em;
    margin-left:-26px;
    color: #fff;
    transform: translateY(12px);
}
#editar{
    background-color: transparent;
    color:#ffffff;
    border-style:none;
    font-size: 1.2em;
    width: 15%;
    padding: 10px;
    cursor:pointer;
    transform: translate(25px, 3px);
}
#editar:hover{
    color: var(--cor-5);
    transition: .3s;
}
.editaGrupo{
    display:flex;
    left:11%;
    position:fixed;
    align-items: left;
    flex-direction: column;
    justify-content: space-around;
    position:fixed;
}
.editaGrupo input{
    border-style:none;
    margin-bottom: 10px;
    padding:5px;
    border-radius:10px;
    color: var(--cor-5);
    width: 85%;
    outline: none;
}
#apagar{
    background-color: transparent;
    border-style:none;
    color:#fff;
    font-size: 1.2em;
    padding: 10px;
    width: 15%;
    transform: translateY(3px);
    cursor: pointer;
}
#apagar:hover{
    color: var(--cor-5);
    transition: .3s;
}
#salvar{
    background-color: transparent;
    width: 50px;
    color:#fff;
    font-size: 1.2em;
    border-style: none;
    cursor: pointer;
    margin-left: -100px;
    transform: translateY(3px);
}
#salvar:hover{
    color: var(--cor-5);
    transition: .3s;
}


.overlay {

    /* PARA CONFIGURAR O FUNDO TRANSPARENTE DO BLOCO DE CADASTRAR GRUPO */
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {

    /* PARA CONFIGURAR O BLOCO DE CADASTRAR GRUPO */

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}


/* FORMATAÇÃO DE BOTÕES */
.bttGrupo{
    display: flex;
    top:2%;
    right: 2%;
    position:fixed;
}
.titlesGrupos h2{
    display:flex;
    font-size: 2em;
    left:8%;
    top:2%;
    position:fixed;
}
#novoGrupo{
   padding: 10px;
   border-style:none;
   border-radius:5px;
   font-size: 1em;
   background-color: var(--cor-4);
   text-align: center;
   color:#fff;
   cursor:pointer;
}
#novoGrupo:hover{
    background-color: var(--cor-5);
    transition: .3s;
}

.modal{
    display:grid;
    text-align: center;
    grid-column: auto;
    width: 30%;
    border-radius: 10px;
    border:1px solid var(--cor-5);
    padding:40px;
    transition: .2s ;
}
.modal h2{
    color:var(--cor-4);
    font-size:1.7em;
}
.modal label{
    display:flex;
    margin: 10px;
    text-align: left;
    
}
.modal .componentesG{
    display:flex;
    align-items: center;
    padding-left:10px;
    margin: 10px;
    width: 95%;
    height: auto;
    margin-top:10px;
    background-color: #ffffff;
    border:1px solid var(--cor-5);
    border-radius:10px;
}
.componentesG input{
    position:relative;
    border: 2px solid transparent;
    background-color: #b7daf800;
    padding: 10px;
    width: calc(100% - 30px);
    outline: none;
    transition: 0.3s;
}
.componentesG input:focus{
    border-color: #02305900;
    color:var(--cor-5);
}
.componentesG i{
    font-size:1.2em;
}

#criarGrupo{
    background-color: var(--cor-4);
    border-style: none;
    border-radius: 5px;
    width: 100px;
    color:#fff;
    padding: 5px;
    cursor:pointer;
    transition: .3s;
}
#criarGrupo:hover{
    background-color: var(--cor-5);
}
#fechar{
    background-color: var(--cor-4);
    border-style: none;
    border-radius: 5px;
    width: 100px;
    color:#fff;
    padding: 5px;
    cursor:pointer;
    transition: .3s;
}
#fechar:hover{
    background-color: var(--cor-5);
}



