/*Typical Device Breakpoint
----------------------------
Telas pequenas: ate 600px
Celular:de 600px ate 750px
Tablet: 768px ate 993px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width:1024px){
    body{
        overflow: auto;
    }
    .menuLateral{
        width:50px;
        overflow-y: auto;
    }
    .item-menu .icone{
        font-size: 22px;
    }
    .item-menu .txt-link{
        
        font-size: 19px;
    }
    .item-menu a{
        padding:5px 2%;
    }
    .title-conta{
        width: 100%;
        text-align: center;
    }
    .title-conta h2{
        margin:15px 0;
        left:50%;
        top:0;
        transform: translate(-50%, 0);
    }
    .dados-basicos{
        width: 100vw;
        height: 140vh;
        border: none;
        box-shadow: none;
        padding:15px;
        justify-content: center;
        align-items: center;
    }
    .informacao h3{
        position: relative;
        width: 90%;
    }
    .btt-alterar{
        
        margin:20px auto ;
    }
    #alterar{
        width: 70%;
       
    }
    @media (orientation:portrait){
       
        .componentes-basicos{
            grid-template-columns: repeat(1,1fr);
            position: absolute;
            
        }
        .informacao{
            width: 95%;
            height: 60px;
            left: 10%;
            margin-right:0;
            margin-bottom: 20px;
        }
        
    }
    
    @media (orientation:landscape){
        .dados-basicos{
            width: 100vw;
            height: 140vh;
            border: none;
            box-shadow: none;
            margin-left: 30px;
            padding:15px;
            justify-content: center;
            align-items: center;
        }
        .componentes-basicos{
            grid-template-columns: repeat(2,1fr);
            position: absolute;
            
        }
        .informacao{
            width: 95%;
            height: 60px;
            margin-left: 25px;
            margin-bottom:20px ;
        }
    }
}