@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #ffffff;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
    height: 120vh;
   
}

.title-conta h2{
    display:flex;
    font-size: 2em;
    margin-left: 5%;
    top:2%;
    color:var(--cor-4);
    position:absolute;
}
.titulo-dados-basicos{
    display:flex;
    position:absolute;
    top:8%;
    margin-left:5%;
    color:var(--cor-4);
    font-style: italic;
}
.dados-basicos{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width: 60%;
    height: auto;
    top:16%;
    left:50%;
    background: transparent;
    border: 2px solid var(--cor-2);
    border-radius:10px;
    padding:15px;
    transform: translateX(-50%);
    
}
#fotoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    
}
#fotoContainer img{
    width: 150px;
    height: auto;
}
#mudarFotoP{
    display: none;
}
#mudarFotoLabelP{
    display: block;
    margin: auto;
    border-radius: 5px;
    width: 160px;
    height: 35px;
    font-size: 16px;
    padding:10px;
    background-color: var(--cor-4);
    text-decoration: none;
    text-align: center; 
    line-height: 15px; 
    color: #fff;
}
#mudarFotoLabelP:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    cursor:pointer;
}
.componentes-basicos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px; 
    width: 100%;
}

.informacao{
    position: relative;
    width: 100%;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px 20px ;
    
}


.informacao label{
    color:var(--cor-4);
    font-weight: bold;
    font-size:17px;
}
.informacao input{
    width: 100%;
    height:auto;
    padding:10px;
    color:var(--cor-3);
    border:1px solid var(--cor-1);
    font-weight: lighter;
    font-size:16px;
    border-radius:10px;
}
.informacao input:focus {
    border-color: var(--cor-2); 
    box-shadow: 0 0 5px var(--cor-2); 
    outline: none;
}
.dado-texto{
    width: 100%;
    height:auto;
    padding:10px;
    padding-left:10px; 
    color:var(--cor-3);
    border:1px solid var(--cor-1);
    font-weight: lighter;
    font-size:16px;
    border-radius:10px;
}
.btt-alterar{
    display:flex;
    width: 350px;
    position: absolute;
    bottom:0;
    right:0;
    justify-content: end;
    align-content: center;
    margin-right: 6%;
    margin-bottom: 33px;
}

#salvarDados{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    height: 45px;
}
#salvarDados:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    cursor:pointer;
}