/*  ESQUECER SENHA   */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}

body{
    background-color: #0050b8;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:var(--cor-4);
    font-size: 0.9em;
}
.esq-senha{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #0230595d;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titles{
    margin-bottom: 20px;
    color:var(--cor-5);
}
.componentesESQ input {
    border: 2px solid transparent;
    background-color: #b7daf800;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 39px);
    transition: border-color 0.3s;
    outline: none;
}

.componentesESQ input:focus{
    border-color: #02305900;
    color:var(--cor-5);
}


.componentesESQ i {
    color: var(--cor-1);
    padding: 10px;
}


.componentesESQ {
    background-color: #fff;
    width: 300px;
    margin:auto;
    border-style: groove;
    border:1px solid var(--cor-3);
    border-radius: 5px;
    margin-bottom: 10px;
}
#message{
    color:red;
    font-size:0.9rem;
}
.bttsESQ{
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin:auto;
    width: 300px;
    padding-top: 30px;
}
.bttsESQ #Enviar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin: 10px 0;
    margin-left: 1%;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    font-size: 1.1em;
    width: 83%;
    height: 45px;

}
.bttsESQ #Enviar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    cursor:pointer;
}
.bttsESQ #Voltar{
    background-color: var(--cor-3);
    color:#fff;
    padding:10px;
    margin-top: 3px;
    margin-left: 1%;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
    text-decoration: none;
    width: 83%;
    height: 45px;
}
.bttsESQ #Voltar:hover{
    background-image: linear-gradient(to right,#023059,#014581,#023059 );
    box-shadow:5px 5px 5px #0230595d;
    color:#dfdfdf;
    text-decoration: none;
    cursor:pointer;
}

.container-spinner{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}  
.overlay-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Sobrepõe o conteúdo */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid var(--cor-4); /* Cor do spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }