*{
    margin: 0;
    padding:0;
}
body{
    width:100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
:root {
    --cor-1: #275AF2;
    --cor-2: #5079F2;
    --cor-3: #035AA6;
    --cor-4: #0050b8;
    --cor-5: #023059;
    --cor-text: #fff;
}
.titulo-atividade{
    position: relative;
    background-color: var(--cor-4);
    padding: 15px;
    border: 2px double var(--cor-5);
}
.titulo-atividade h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}
#link-atividade{
    text-decoration: none;
    color: #fff;
}
#link-atividade:hover{
    color: #ffffff9a;
}
.atividades-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}.loaderAtividade{
    display: flex;
    justify-content: center;
    align-items: center;
}
.verificando{
    animation: rotacao 1s infinite;
    height: 100px;
    width: 100px;
    border-radius:50%;
    border: 6px solid #e5e5e5;
    border-top-color: #0050b8;
}
@keyframes rotacao {
    to{
        transform:rotate(1turn)
    }
}
#mensagem{
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
}

.atividade{
    position: relative;
    width: 80%;
    height: 20%;
    background-color: var(--cor-4);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    top:5%;
}
.atividade-resultado{
    position: relative;
    width: 80%;
    height: 20%;
    border:5px solid var(--cor-4);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 12px;
    top:5%;
    transition: .3s ease-in-out;
}
.atividade-resultado a{
    text-decoration: none;
    color: var(--cor-4);
    transition: .3s ease-in-out;
}
.atividade-resultado:hover{
    background-color: var(--cor-4);
    color:#fff;
    box-shadow: 5px 5px var(--cor-5);
    cursor:default;
}
.atividade-resultado:hover a{
    color:#fff;
}



.titulos-atividade{
    color: #fff;
}
.atividade a:hover{
    color:#ffffff9a ;
    cursor:pointer;
}
.atividade p{
    color: #fff;
}
.atividade .editarAtividade{
    display: flex;
    position: absolute; 
    bottom: 0; 
    right: 5px; 
    padding:5px;
    font-size: 1.1rem;
}
.verEstatisticasBtn{
    background-color: #f3f3f3;
    border-radius: 10px;
    border:none;
    margin-top:5px;
    bottom: 0; 
    right: 5px; 
    padding:5px;
    font-size: 1rem;
    box-shadow: 1px 0px 5px #e5e5e5 ;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.verEstatisticasBtn:hover{
    background-color: #e5e5e5e7;
    
}
.componentesAtividade{
    display:flex;
    align-items: center;
    padding-left:10px;
    margin: 10px;
    width: 95%;
    height: auto;
    margin-top:10px;
    background-color: #ffffff;
    border:1px solid var(--cor-5);
    border-radius:10px;
}
.componenteData{
    display:flex;
    align-items: center;
    padding-left:10px;
    margin: 10px;
    width: 95%;
    height: auto;
    margin-top:10px;
    background-color: #ffffff;
    border:1px solid var(--cor-5);
    border-radius:10px; 
}
.form-style {
    position:relative;
    width: calc(100% - 30px);
    outline: none;
    transition: 0.3s;
    padding:10px;
    height: auto;
    font-weight: 500;
    letter-spacing: 0.5px;
    color:var(--cor-5);
    border-radius:10px;
    border: 2px solid transparent;
    background-color: #b7daf800;
}
.componenteData input[type="date"]{
    position:relative;
    border: 2px solid transparent;
    background-color: #b7daf800;
    padding: 10px;
    width: calc(100% - 30px);
    outline: none;
    transition: 0.3s;
    color:var(--cor-5);
}

.icones-att{
    font-size: 15px;
    padding:5px;
}
#btnAddAtividade, #confirmarExcluirBotao{
    background-color: var(--cor-4);
    border-style: none;
    border-radius: 5px;
    margin: 20px 0;
    width: 100px;
    color:#fff;
    padding: 5px;
    cursor:pointer;
    transition: .3s;
}
#btnAddAtividade:hover{
    background-color: var(--cor-5);
}
#btnFechar, #cancelarexclusao{
    background-color: var(--cor-4);
    border-style: none;
    border-radius: 5px;
    width: 100px;
    color:#fff;
    padding: 5px;
    cursor:pointer;
    transition: .3s;
}
#btnFechar:hover{
    background-color: var(--cor-5);
}

.salvarAtt{
    background-color: transparent;
    color:#ffffff;
    border-style:none;
    font-size: 1.2em;
    position:relative;
    width: 20px;
    margin-right: 40px;
    padding: 10px;
    cursor:pointer;
}
.salvarAtt:hover{
    color: var(--cor-5);
    transition: .3s;
}

.container-spinner{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}  
.overlay-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Sobrepõe o conteúdo */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid var(--cor-4); /* Cor do spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


